<div class="home">
    <form  method="POST" action="/seach-artist">
        <label>
            <input type="text" name="artist" placeholder="Search an artist">
        </label>
        <button>Search</button>
    </form>
</div>